<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}MQTT Dashboard{% endblock %}</title>
  <!-- 引入 Bootstrap CSS -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  
  <!-- 底部导航栏 -->
  <nav class="navbar navbar-light bg-light fixed-bottom border-top">
    <div class="container d-flex justify-content-around">
      <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
      <a class="nav-link" href="{{ url_for('debug') }}">调试</a>
    </div>
  </nav>
  
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
  <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  
  {% block scripts %}{% endblock %}
</body>
</html>
